@page "/"

<h1>Blazor demo store directory application</h1>

Application includes the folowing main features:
<br />
<br />
1. Blazor components. Design and data communication
<br />
<br />
2. Blazor pages integration
<br />
<br />
3. Basic CRUD operation. Data persistence has been completed theough a json file. Not a real case for production environment.
<br />
<br />
4. Client data validation.
<br />
<br />
5. Blazor library to be shared between blazor client and server application.
<br />
<br />
6. Javascript interop.
<br />
<br />
7. Map component integration.
<br />
<br />
8. UI bootstrap anfd fontawesome integration.

<hr />
<div class="row">
    For more info contact me at&nbsp;<a href="http://lmsoftinc.com/contact">LM SOFT INC</a>
</div>